@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600;700&display=swap');


:root {
  --primary-color: #96d07f;
}

* {
  font-family: 'poppins', serif;
}


body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


